<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head_meta}"></th:block>

    <title>Carpool just 4 You</title>

    <th:block th:include="~{/fragments/head_script}"></th:block>
</head>

<body class="sub_page">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
            <span>
              Carpool just 4 You
            </span>

                </a>
                <div class="user_option" style="color:white;">
                    <h4 th:text="'Admin - ' + ${session.username}"></h4>
                    <div class="user_option">
                        <!-- Dropdown menu -->

                    </div>
                    <br/>
                    <div class="user_option">
                        <!-- Dropdown menu -->

                    </div>
                </div>
                <div class="custom_menu-btn">
                    <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                    </button>
                </div>
                <div id="myNav" class="overlay">
                    <div class="overlay-content">
                        <a href="index.html">Home</a>
                        <a th:href="@{/home/about}">About</a>
                        <a th:href="@{/user/update}">Update</a>
                        <a th:href="@{/user}">All users</a>
                        <a th:href="@{/travel}"> Active Travels</a>
                        <a th:href="@{/additional-options}">Additional Options</a>
                        <a th:href="@{/auth/logout}">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <img  src="../static/img/carousel-1.jpg"
                  th:src="@{/images/635948fd-54d5-4cb5-a0f5-d31e5c35f60b.jpg}" class="img-fluid" alt="Image" width="">
        </div>
    </div>

</section>
<script>
    function redirectToPage(select) {
        var selectedOption = select.options[select.selectedIndex].value;
        if (selectedOption) {
            window.location.href = selectedOption;
        }
    }
</script>


<th:block th:include="~{/fragments/scrips_footer}"></th:block>

</body>

<th:block th:include="~{/fragments/footer}"></th:block>

</html>