<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Completed Travel</title>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body class="sub_page">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
            <span>
              Carpool just 4 You
            </span>
                </a>
                <div class="user_option" style="color:white;">
                    <h4 th:text="${session.username}"></h4>
                </div>
                <div class="custom_menu-btn">
                    <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                    </button>
                </div>
                <div id="myNav" class="overlay">
                    <div class="overlay-content">
                        <a th:href="@{/travel/userCreateTravel}">Back</a>
                        <a th:href="@{/auth/logout}">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2 th:text="#{travel.label.completed}"></h2>
            <div th:each="travel : ${travels}">
                <div class="container-fluid">
                    <table class="table detail-box item layout_padding2-top" style="color:white;">
                        <thead>
                        <tr>
                            <th>Start Location</th>
                            <th>End Location</th>
                            <th>Travel kilometer</th>
                            <th>Date of Department</th>
                            <th>Passenger</th>
                            <th>Feedback</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">

                                <div class="d-flex align-items-center">
                                    <div th:text="${travel.startingLocation}"></div>
                                </div>
                            </th>
                            <td>
                                <div th:text="${travel.endLocation}"></div>
                            </td>
                            <td>
                                <div th:text="${travel.kilometers}"></div>
                            </td>
                            <td>
                                <div th:text="${travel.dateOfDeparture}"></div>
                            </td>
                            <td>
                                <div th:if="${travel.passengers.isEmpty()}">
                                    <h2 th:text="#{travel.label.dosNotExist}"></h2>
                                </div>
                                <div th:unless="${travel.passengers.isEmpty()}">
                                    <div th:each="pasenger : ${travel.passengers}">
                                        <span th:text="${pasenger.username}"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div th:if="${travel.feedbacks.isEmpty()}">
                                    <h2 th:text="#{travel.label.dosNotExist}"></h2>
                                </div>
                                <div th:unless="${travel.feedbacks.isEmpty()}">
                                    <div th:each="feedback : ${travel.feedbacks}">
                                        <span th:text="${feedback.text}"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</section>

<script>
    function redirectToPage(select) {
        var selectedOption = select.options[select.selectedIndex].value;
        if (selectedOption) {
            window.location.href = selectedOption;
        }
    }
</script>

<th:block th:include="~{/fragments/scrips_footer}"></th:block>

</body>

<th:block th:include="~{/fragments/footer}"></th:block>

</html>
