<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Carpool just 4 You</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
            <span>
              Carpool just 4 You
            </span>
                </a>

                <div class="navbar-collapse" id="">
                    <div class="user_option">
                        <a th:href="@{auth/login}">
                            Login
                        </a>
                    </div>
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                            <span class="s-1"> </span>
                            <span class="s-2"> </span>
                            <span class="s-3"> </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a th:href="@{/home/about}">About</a>
                            <a th:href="@{/travel/new}">Create Travel</a>
                            <a th:href="@{/travel}">Search Travel</a>
                            <a th:href="@{/feedback/create}">Leave Feedback</a>
                            <a th:href="@{/auth/login}">Login</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div class="slider_container">
            <div class="img-box">
                <img src="/images/hero-img.jpg" alt="">
            </div>
            <div class="detail_container">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="detail-box">
                                <h1>
                                    Find Travel <br>
                                    Rate Drivers <br>
                                    Save Money
                                </h1>
                                <a th:href="@{/auth/register}" class="primary-btn">Register Now</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="detail-box">
                                <h1>
                                    Leave Feedback <br>
                                    Tell us what you think <br>
                                </h1>
                                <a th:href="@{/feedback/create}">Leave Feedback</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="detail-box">
                                <h1>
                                    Find Travel <br>
                                    Be the driver <br>
                                </h1>
                                <a th:href="@{/travel/new}">Create Travel</a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>

<!-- driver section -->

<section class="car_section layout_padding2-top layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Better Way To Find Cheaper and Safe Travel for Your Destination
            </h2>
            <p>
                Choose your driver and see below one of the best
            </p>
        </div>
        <div class="car_container">
            <div class="box">
                <div class="img-box">
                    <img src="/images/02A_Swift_Taylor_TIME_092914_4_FR12_F_WEB.jpg" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Highest rated driver
                    </h5>
                    <div th:if="${topUsers.size() > 0}">
                        <span th:text="${topUsers[0].username}"></span> - <span th:text="${topUsers[0].rating}"></span>
                        <div th:if="${feedbackTop.size() > 0}">
                            <h5>What people say about me</h5>
                            <span th:text="${feedbackTop[0].text}"></span>
                        </div>
                        <div th:if="${feedbackTop.size() == 0}">
                            No feedbacks available for this user.
                        </div>
                    </div>
                    <div th:if="${topUsers.size() == 0}">
                        No users found.
                    </div>
                    <a th:href="@{/user/profile/1}">Contact user</a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/images/OIP1.jpg" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Top-rated driver
                    </h5>
                    <div th:if="${topUsers.size() > 0}">
                        <span th:text="${topUsers[1].username}"></span> - <span th:text="${topUsers[1].rating}"></span>
                        <div th:if="${feedbackSecond.size() > 0}">
                            <h5>What people say about me</h5>
                            <span th:text="${feedbackSecond[0].text}"></span>
                        </div>
                        <div th:if="${feedbackSecond.size() == 0}">
                            No feedbacks available for this user.
                        </div>
                    </div>
                    <div th:if="${topUsers.size() == 0}">
                        No users found.
                    </div>
                    <a th:href="@{/user/profile/2}">Contact user</a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/images/oip3.jpg" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Top-rated driver
                    </h5>
                    <div th:if="${topUsers.size() > 0}">
                        <span th:text="${topUsers[2].username}"></span> - <span th:text="${topUsers[2].rating}"></span>
                        <div th:if="${feedbackThree.size() > 0}">
                            <h5>What people say about me</h5>
                            <span th:text="${feedbackThree[0].text}"></span>
                        </div>
                        <div th:if="${feedbackThree.size() == 0}">
                            No feedbacks available for this user.
                        </div>
                    </div>
                    <div th:if="${topUsers.size() == 0}">
                        No users found.
                    </div>
                    <a th:href="@{/user/profile/3}">Contact user</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end driver section -->

<!-- about section -->

<section class="about_section layout_padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 px-0">
                <div class="img-box">
                    <img src="/images/lugares-02-132157.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="detail-box">
                    <h2>
                        About Our Passion for Trip sharing
                    </h2>
                    <p>
                        Our team has created this website with passion for travels and with experience in carpooling
                    </p>
                    <a th:href="@{/travel}">Search Travel</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->


<!-- best travels section -->

<section class="best_section">
    <div class="container">
        <div class="book_now">
            <div class="detail-box">
                <h2>
                    Our Latest Travels
                </h2>
                <p>
                    See some of our latest completed travels posted on the website
                </p>
            </div>
            <div class="btn-box">
                <a th:href="@{/travel}">Book now</a>
            </div>
        </div>
    </div>
</section>

<!-- end best travels section -->

<!-- latest travels section -->

<section class="rent_section layout_padding">
    <div class="container">
        <div class="rent_container">
            <div class="item">
                <div class="box">
                    <div class="detail-box">
                        <div class="info-box">
                            <div class="info-item">
                                <div class="label">Start - End Location</div>
                                <span th:text="${travels[travels.size()-1].startingLocation}"></span> - <span
                                    th:text="${travels[travels.size()-1].endLocation}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Date of departure</div>
                                <span th:text="${travels[travels.size()-1].dateOfDeparture}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Price in Euro:</div>
                                <span th:text="${travels[travels.size()-1].pricePerPerson}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="detail-box">
                        <div class="info-box">
                            <div class="info-item">
                                <div class="label">Start - End Location</div>
                                <span th:text="${travels[travels.size()-2].startingLocation}"></span> - <span
                                    th:text="${travels[travels.size()-2].endLocation}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Date of departure</div>
                                <span th:text="${travels[travels.size()-2].dateOfDeparture}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Price in Euro:</div>
                                <span th:text="${travels[travels.size()-2].pricePerPerson}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="detail-box">
                        <div class="info-box">
                            <div class="info-item">
                                <div class="label">Start - End Location</div>
                                <span th:text="${travels[travels.size()-3].startingLocation}"></span> - <span
                                    th:text="${travels[travels.size()-3].endLocation}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Date of departure</div>
                                <span th:text="${travels[travels.size()-3].dateOfDeparture}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Price in Euro:</div>
                                <span th:text="${travels[travels.size()-3].pricePerPerson}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="detail-box">
                        <div class="info-box">
                            <div class="info-item">
                                <div class="label">Start - End Location</div>
                                <span th:text="${travels[travels.size()-4].startingLocation}"></span> - <span
                                    th:text="${travels[travels.size()-4].endLocation}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Date of departure</div>
                                <span th:text="${travels[travels.size()-4].dateOfDeparture}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Price in Euro:</div>
                                <span th:text="${travels[travels.size()-4].pricePerPerson}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="detail-box">
                        <div class="info-box">
                            <div class="info-item">
                                <div class="label">Start - End Location</div>
                                <span th:text="${travels[travels.size()-1].startingLocation}"></span> - <span
                                    th:text="${travels[travels.size()-1].endLocation}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Date of departure</div>
                                <span th:text="${travels[travels.size()-1].dateOfDeparture}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Price in Euro:</div>
                                <span th:text="${travels[travels.size()-1].pricePerPerson}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div class="detail-box">
                        <div class="info-box">
                            <div class="info-item">
                                <div class="label">Start - End Location</div>
                                <span th:text="${travels[travels.size()-2].startingLocation}"></span> - <span
                                    th:text="${travels[travels.size()-2].endLocation}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Date of departure</div>
                                <span th:text="${travels[travels.size()-2].dateOfDeparture}"></span>
                            </div>
                            <div class="info-item">
                                <div class="label">Price in Euro:</div>
                                <span th:text="${travels[travels.size()-2].pricePerPerson}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end latest travel section -->


<!-- us section -->

<section class="us_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Why choose Us
            </h2>
            <p>
                We know all about travels and carpooling and we want You to feel great
            </p>
        </div>
    </div>
    <div class="us_container layout_padding2">
        <div class="content_box">
            <div class="box">
                <div class="img-box">
                    <img src="/images/u-1.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Save money
                    </h5>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/images/u-2.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        See driver details
                    </h5>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/images/u-3.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Feel safe
                    </h5>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/images/u-4.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Quick Support
                    </h5>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a th:href="@{/home/about}">Read more</a>
        </div>
    </div>
</section>

<!-- end us section -->

<!-- passengers feedback section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                What the passengers think about the drivers and the service
            </h2>
            <p>
                Read some of the latest feedback on the website
            </p>
        </div>
        <div class="layout_padding2-top">
            <div class="carousel-wrap ">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <div class="info-box">
                                    <div class="info-item">
                                        <h5>Feedback for this driver :</h5>
                                        <span th:text="${feedbacks[feedbacks.size()-1].getTravelId().driverId.username}"></span>
                                        <br>
                                        <span th:text="${feedbacks[feedbacks.size()-1].text}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="client_id">
                                <div class="img-box">
                                    <img src="/images/Professional-Portrait-Photography-171.jpg" alt="" class="img-1">
                                </div>
                                <div class="name">
                                    <h5>Author of the feedback :</h5>
                                    <h6 th:text="${feedbacks[feedbacks.size()-1].getAuthorId().username}">
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <div class="info-box">
                                    <div class="info-item">
                                        <h5>Feedback for this driver :</h5>
                                        <span th:text="${feedbacks[feedbacks.size()-4].getTravelId().driverId.username}"></span>
                                        <br>
                                        <span th:text="${feedbacks[feedbacks.size()-4].text}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="client_id">
                                <div class="img-box">
                                    <img src="/images/Professional-Portrait-Photography-171.jpg" alt="" class="img-1">
                                </div>
                                <div class="name">
                                    <h5>Author of the feedback :</h5>
                                    <h6 th:text="${feedbacks[feedbacks.size()-4].getAuthorId().username}">
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <div class="info-box">
                                    <div class="info-item">
                                        <h5>Feedback for this driver :</h5>
                                        <span th:text="${feedbacks[feedbacks.size()-5].getTravelId().driverId.username}"></span>
                                        <br>
                                        <span th:text="${feedbacks[feedbacks.size()-5].text}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="client_id">
                                <div class="img-box">
                                    <img src="/images/Professional-Portrait-Photography-171.jpg" alt="" class="img-1">
                                </div>
                                <div class="name">
                                    <h5>Author of the feedback :</h5>
                                    <h6 th:text="${feedbacks[feedbacks.size()-5].getAuthorId().username}">
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <div class="info-box">
                                    <div class="info-item">
                                        <h5>Feedback for this driver :</h5>
                                        <span th:text="${feedbacks[feedbacks.size()-6].getTravelId().driverId.username}"></span>
                                        <br>
                                        <span th:text="${feedbacks[feedbacks.size()-6].text}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="client_id">
                                <div class="img-box">
                                    <img src="/images/Professional-Portrait-Photography-171.jpg" alt="" class="img-1">
                                </div>
                                <div class="name">
                                    <h5>Author of the feedback :</h5>
                                    <h6 th:text="${feedbacks[feedbacks.size()-6].getAuthorId().username}">
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end passengers feedback section -->

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Request A contact
            </h2>
        </div>
        <div class="contact_items">

            <a href="">
                <div class="img-box">
                    <img src="/images/location.png" alt="">
                </div>
                <h6>
                    We will be happy to receive your request through our email for contacts
                </h6>
            </a>
            <a href="">
                <div class="img-box">
                    <img src="/images/call.png" alt="">
                </div>
                <h6>
                    (+359 891 222 444)
                </h6>
            </a>
            <a href="">
                <div class="img-box">
                    <img src="/images/mail.png" alt="">
                </div>
                <h6>
                    carpooljust4you@gmail.com
                </h6>
            </a>

        </div>
        <div class="social_container">
            <div class="social-box">
                <div>
                    <a href="">
                        <img src="/images/fb.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="/images/twitter.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="/images/linkedin.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="/images/insta.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->

<!-- footer section -->
<footer class="container-fluid footer_section">
    <p>
        Copyright &copy; 2024 All Rights Reserved. Design by Aleks, Drago and Lyuci
    </p>
</footer>
<!-- footer section -->

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<script src="/js/custom.js"></script>


</body>

</html>