<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head_meta}"></th:block>

    <title>Carpool just 4 You</title>

    <th:block th:include="~{/fragments/head_script}"></th:block>
</head>

<body class="sub_page">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
            <span>
              Carpool just 4 You
            </span>

                </a>
                <div class="user_option" style="color:white;">
                    <h4 th:text="${session.username}"></h4>
                    <div class="user_option">
                        <!-- Dropdown menu -->
                        <select onchange="redirectToPage(this)">
                            <option value="">Travel</option>
                            <option value="/travel">All Travels</option>
                            <option value="/travel/new">Create Travel</option>
                            <option value="/travel/userCreateTravel">View Travel driver</option>
                        </select>
                    </div>
                    <br/>
                    <div class="user_option">
                        <!-- Dropdown menu -->
                        <select onchange="redirectToPage(this)">
                            <option value="FeedBack">FeedBack</option>
                            <option value="/feedback/create">Create Feedback</option>
                            <option value="/feedback/update">Update Feedback</option>
                        </select>
                    </div>

                </div>
                <div class="custom_menu-btn">
                    <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                    </button>
                </div>
                <div id="myNav" class="overlay">
                    <div class="overlay-content">
                        <a th:href="@{/home}">Home</a>
                        <a th:href="@{/home/about}">About</a>
                        <a th:href="@{/feedback/new/createFeedbackView}">Feedback for Users</a>
                        <a th:href="@{/user/update}">Update</a>
                        <a th:href="@{/auth/logout}">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
                <div th:each="travel : ${travels}" >
                    <div th:if="${session.username.equals(travel.getDriverId().username)}">
                        <table class="table" style="color:white;">
                            <tr>
                                <th>Start Location</th>
                                <th>End Location</th>
                                <th>Empty Seats</th>
                                <th>Date of Department</th>
                                <th>Price per Person</th>
                                <th>Status</th>
                                <th>Addition option</th>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <div class="d-flex align-items-center">
                                        <div th:text="${travel.startingLocation}"></div>
                                    </div>
                                </td>
                                <td>
                                    <div th:text="${travel.endLocation}"></div>
                                </td>
                                <td>
                                    <div th:text="${travel.emptySeats}"></div>
                                </td>
                                <td>
                                    <div th:text="${travel.dateOfDeparture}"></div>
                                </td>
                                <td>
                                    <div th:text="${travel.pricePerPerson}"></div>
                                </td>
                                <td>
                                    <div th:if="${!travel.isCanceled()}" >
                                        <div th:text="Active"></div>
                                    </div>
                                </td>
                                <td>
                                    <div th:each="option : ${travel.additionalOptions}">
                                        <span th:text="${option.additionalOptions}"></span>
                                    </div>
                                </td>
                                <td>
                                    <button th:if="${session.username.equals(travel.getDriverId().username)}"
                                            class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">
                                        <a href="#" th:href="@{/travel/candidate/{travelId}(travelId=${travel.id})}">Choice
                                            passenger</a>
                                    </button>

                                    <button th:if="${session.isAdmin or travel.getDriverId().username.equals(session.username)}"
                                            class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">
                                        <a href="#" th:href="@{/travel/update/{id}(id=${travel.getId()})}">Update</a>
                                    </button>
                                    <button th:if="${session.isAdmin or travel.getDriverId().username.equals(session.username)}"
                                            class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">
                                        <a href="#" th:href="@{/travel/delete/{id}(id=${travel.getId()})}">Delete</a>
                                    </button>
                                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">
                                        <a href="#" th:href="@{/travel/{id}(id=${travel.getId()})}">Information</a>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </div>
    </div>

</section>
<script>
    function redirectToPage(select) {
        var selectedOption = select.options[select.selectedIndex].value;
        if (selectedOption) {
            window.location.href = selectedOption;
        }
    }
</script>


<th:block th:include="~{/fragments/scrips_footer}"></th:block>

</body>

<th:block th:include="~{/fragments/footer}"></th:block>

</html>