    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${currentUser}"></title>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Carpool just 4 You</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">

</head>
<body>
    <div class="body-content-telerik">
        <h2 class="text-white">Update user information</h2>
        <br/>
        <form th:action="@{/user/update}" th:object="${currentUser}" th:method="POST">
            <label th:text="First Name">First name</label>
            <br/>
            <input th:field="*{firstName}"/>
            <label class="label-error-telerik" th:errors="*{firstName}">First name error placeholder</label>
            <br/> <br/>
            <label th:text="Last Name">Last name</label>
            <br/>
            <input th:field="*{lastName}"/>
            <label class="label-error-telerik" th:errors="*{lastName}">Last name error placeholder</label>
            <br/> <br/>
            <label th:text="password">Password</label>
            <br/>
            <input th:field="*{password}"/>
            <label class="label-error-telerik" th:errors="*{password}">Password error placeholder</label>
            <br/> <br/>

            <button type="submit">Update</button>
        </form>
    </div>

</body>

<footer class="container-fluid footer_section">
    <p>
        Copyright &copy; 2024 All Rights Reserved. Design by Aleks, Drago and Lyuci
    </p>
</footer>
</html>