    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{/fragments/head_meta}"></th:block>

        <title>Carpool just 4 You</title>

        <th:block th:include="~{/fragments/head_script}"></th:block>
    </head>
<body>
    <div class="body-content-telerik">
        <h2 class="text-white">Update user information</h2>
        <br/>
        <form th:action="@{/user/update}" th:object="${currentUser}" th:method="POST">

            <label th:text="#{users.label.username}">Username</label>
            <br/>
            <label>
                <input th:field="*{username}"/>
            </label>
            <label class="label-error-telerik" th:errors="*{username}">Username error placeholder</label>
            <br/> <br/>
            <label th:text="#{users.label.firstName}">First name</label>
            <br/>
            <label>
                <input th:field="*{firstName}"/>
            </label>
            <label class="label-error-telerik" th:errors="*{firstName}">First name error placeholder</label>
            <br/> <br/>
            <label th:text="#{users.label.lastName}">Last name</label>
            <br/>
            <label>
                <input th:field="*{lastName}"/>
            </label>
            <label class="label-error-telerik" th:errors="*{lastName}">Last name error placeholder</label>
            <br/> <br/>
            <label th:text="#{users.label.password}">Password</label>
            <br/>
            <label>
                <input th:field="*{password}"/>
            </label>
            <label class="label-error-telerik" th:errors="*{password}">Password error placeholder</label>
            <br/> <br/>
            <label th:text="#{users.label.email}">Email</label>
            <br/>
            <label>
                <input th:field="*{email}"/>
            </label>
            <label class="label-error-telerik" th:errors="*{email}">Email error placeholder</label>
            <br/> <br/>
            <label th:text="#{users.label.phoneNumber}">Phone Number</label>
            <br/>
            <label>
                <input th:field="*{phoneNumber}"/>
            </label>
            <label class="label-error-telerik" th:errors="*{phoneNumber}">Phone Number error placeholder</label>
            <br/> <br/>
            <button type="submit">Update</button>
        </form>
    </div>
    <th:block th:include="~{/fragments/scrips_footer}"></th:block>

</body>

    <th:block th:include="~{/fragments/footer}"></th:block>
</html>